.about-us-section {
    display: block;
    text-align: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

.about-us-section a {
    text-decoration: none;

}

.about-us-box {

    margin: auto;

    border-radius: 20px;
    width: 80vw;

    position: relative;


    display:flex;
    overflow: hidden;

    align-items: center;
}


.about-us-text {

    width: 60vw;
    text-align: left;
    display: inline-block;

    margin: auto;
    margin-right: 50px;
    margin-left: 50px;


    position: relative;
    background-color: inherit;
}

.about-us-text h3{
    margin-top: 50px;
}

.about-us-image{
    object-fit: contain;
    background-color: white;
    border-radius: 20px;
}

.about-us-image img{
    width:20vw;

}