
.landing-section {
    display: block;
    text-align:left;
    justify-content: space-between;
}

.landing-intro {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 50px;
    border-radius: 20px;
    width: 80vw;

    position: relative;
    background-color: #da959bb6;

    display:flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.landing-intro-text{
    margin-left: 30px;
    padding-right: 30px;
    margin-top: 0;
    z-index: 1;
}

.landing-intro-text p{
    margin: 5px;
}

.landing-intro-heading{
    font-size: 50px;
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 0;
}

.landing-intro-subheading{
    font-size: 40px;
    position: relative;
}

.landing-intro-hooks{
    font-size: 25px;
    position: relative;
    font-weight: normal;
}

.landing-intro-hooks p {
    margin-bottom: 10px;
}

.landing-graphic{
    position: absolute;
    z-index: 0;
}

.landing-intro img{
    width: 100%;
    opacity: 0.15;
}

.about-us-text{
    font-size: 20px;
    position: relative;
    font-weight: normal;
}

.about-us-button {
    background-color: #695883; 
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin-right: 10px;
  }

.about-us-button:hover {
    background-color: #362247; 
    color: white;
}