@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

*, *::before, *::after {
    box-sizing: border-box;
}


body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #A4545F;
    font-family: Raleway;
    font-size: 1.2rem;
    color: white;

    min-height: 100vh;
    /* 100 view heights, 100% of the height of the screen as minimum  */
}

.page-container {
    height: inherit;
    display: flex;
}

.main {
    height: inherit;
    padding: 0;
    padding-left: var(--nav-border-width);
    overflow-y: auto;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
}

.brand-logo-name {
    margin: auto;
}

.footer-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav a {
    color: inherit;
    text-decoration: none;

}

.footer-nav a:hover {
    color: #ADADAD;
}

.main-header, .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.main-footer {
    height: 70px;
    background-color: #784146;
    font-weight: bold;
}

.social-link img {
    width: 1em;
    margin-right: .25rem;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    flex-grow: 1;
}

.nav div {
    height: 4px;
    background-color: white;
    margin: 0 0 5px 0;
    border-radius: 25px;
}

.nav {
    width: 30px;
    display: block;
    margin: 0 0 0 1em;
}

.one .two .three{
    width: 30px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: #784146;
    transition: 0.5s;
    flex-shrink: 0;
    overflow-x: hidden;
    text-align: center;

}

.sidebar-text {
    margin-top: 40px;
}

.sidebar a{
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-weight: normal;
}

.sidebar a:hover {
    color: #ADADAD;
}

.between {
    margin: 0px 0px 0px 0px;
    border: none;
    height: 0.1px;
    color: white;
    background-color: white;
}
    
.sidebar-titles {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 32px;
    text-decoration: underline;

}

.sidebar-subtitles {
    font-size: 18px;
}

.sidebar .closebtn {
    position: absolute;
    top: 7px;
    right: 1px;
    font-size: 36px;
    margin-left: 50px;
}

#content-area {
    transition: margin-left .5s;
    padding: 20px;
}

.icon-section {
    display: block;
    text-align: center;
    justify-content: space-around;
}

.title {
    font-family: Raleway;
    font-size: 32px;
    font-weight: normal;
    color: white;
}

.coffee-icons-wrapper {
    margin: auto;
    border-radius: 20px;
    width: 80vw;

    position: relative;
    background-color: inherit;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr) );
    gap: 20px;
}

.icon-container {
    height: 100px;
    width: auto;
    position: relative;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.icon-container:hover .overlay {
    opacity: 0.8;
}

.overlay {
    position: absolute;
    border-radius: inherit;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: none;
    background-color: inherit;
    text-align: center;
}

.overlay-text {
    color: #784146;
    font-weight: bold;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.image {
    display: block;
    width: 100%;
    height: auto;
}