@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

*, *::before, *::after {
    box-sizing: border-box;
}


body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #a4545f;
    font-family: Raleway;
    font-size: 1.2rem;
    color: white;

    min-height: 100vh;
}

.page-container {
    height: inherit;
    display: flex;
}

.main {
    height: inherit;
    padding: 0;
    padding-left: var(--nav-border-width);
    overflow-y: auto;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
}

.brand-logo-name {
    margin: auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #A4545F;
    margin: auto;
    width: 100%;
    height: 80px;
    z-index: 3;
    padding-right: 15px;
}

.main-footer {
    height: 70px;
    background-color: #784146;
    font-weight: bold;
    margin-top: 50px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    bottom: 0;
    
}
.main-footer a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
} 

.social-link img {
    width: 1em;
    margin-right: .25rem;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}

.container {
    margin: 70px auto;
    padding: 0 40px;
    flex-grow: 1;
    justify-content: space-between;
}

.nav div {
    height: 4px;
    background-color: white;
    margin: 0 0 5px 0;
    border-radius: 25px;
}

.nav {
    width: 30px;
    display: block;
    margin: 0 0 0 1em;
}

.one .two .three{
    width: 30px;
}

.side-bar-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.6;
    background: black;
    z-index: 1;
    visibility: hidden;
    transition: opacity 0.5s; /* transition settings */
}

.sidebar {
    height: 100%;
    width: 0;
    bottom: 0px; 
    position: fixed;
    background-color: #784146;
    transition: 0.5s;
    flex-shrink: 0;
    overflow-x: hidden;
    text-align: center;
    z-index: 2;

}


.sidebar a{
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-weight: normal;
}

.sidebar a:hover {
    color: #ADADAD;
}

.header-border {
    margin: 0px 0px 0px 0px;
    border: none;
    height: 5px;
    color: black;
}

.between {
    margin: 0px 0px 0px 0px;
    border: none;
    height: 1px;
    color: white;
    background-color: white;
}
    
.sidebar-titles {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 32px;
    text-decoration: underline;

}

.sidebar-subtitles {
    font-size: 18px;
}

.sidebar .closebtn {
    position: sticky;
    top: 60px;
    right: 1px;
    font-size: 36px;
    text-align: right;
    margin-bottom: 0;
}

#content-area {
    transition: margin-left .5s;
    padding: 20px;
}

.icon-section {
    display: block;
    text-align: center;
    justify-content: space-between;
}

.icon-section a {
    text-decoration: none;
}

.instructions-section {
    display: block;
    text-align: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

.instructions-section a {
    text-decoration: none;

}

.title {
    font-family: Raleway;
    font-size: 32px;
    font-weight: normal;
    color: white;
}

.subtitle {
    font-family: Raleway;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.textbox {
    width: 60vw;
    text-align: left;
    display: inline-block;

    margin: auto;
    width: 80vw;

    position: relative;
    background-color: inherit;
}

.materials {
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 80vw;
    text-align: left;

    position: relative;
    background-color: white;
    display: inline-block;
    color: #695883;
    
}

.instructions-number{
    padding-left: 20px;
}

.instructions-text{
    padding-left: 20px;
    padding-right: 20px;
    color: #a4545f;
}

.materials-item {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    padding: 10px 0px 10px 20px;
}

.materials-item p{
    padding-left: 20px;
}

.coffee-icons-wrapper {
    margin: auto;
    border-radius: 20px;
    width: 80vw;

    position: relative;
    background-color: inherit;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr) );
    gap: 20px;
    

}

.icon-container {
    height: 100px;
    color: rgba(red, green, blue, alpha);
    width: auto;
    position: relative;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    
}

.icon-container:hover .overlay {
    opacity: 0.8;
}

.overlay {
    position: absolute;
    border-radius: inherit;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: none;
    background-color: inherit;
    text-align: center;
}

.overlay-text {
    color: #784146;
    font-weight: bold;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.image {
    display: block;
    width: 100%;
    height: auto;
}